version: '3.7'

services:
  reverse-proxy:
    image: library/traefik:v2.2
    command: --api.insecure=true --providers.docker
    ports:
    - 80:80
    - 8080:8080
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock

  api:
    build:
      context: api
    ports:
    - 8080
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`localhost`)

  #whoami:
  #  image: containous/whoami
  #  labels:
  #   - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`)"

